@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-xzo5wq');
	src:url('fonts/icomoon.eot?#iefix-xzo5wq') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-xzo5wq') format('truetype'),
		url('fonts/icomoon.woff?-xzo5wq') format('woff'),
		url('fonts/icomoon.svg?-xzo5wq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	// Better Font Rendering 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-wechat:before {
	content: "\e604";
}
.icon-newspaper:before {
	content: "\e600";
}
.icon-mobile:before {
	content: "\e601";
}
.icon-arrow-up2:before {
	content: "\e603";
}

@import "mixin";
$toolbar-size: 52px;
.toolbar {
	position: fixed;
	left: 50%;
	bottom: 5px;
	margin-left: -$toolbar-size / 2;
}
.toolbar-item {
	display: block;
	width: $toolbar-size;
	height: $toolbar-size;
	position: relative;
	margin-top: 1px;
	&:after {
		content: "";
		width: 172px;
		position: absolute;
		right: $toolbar-size - 6;
		bottom: -10px;
		background: url(../img/toolbar_img.png) no-repeat;
		@include opacity(0);
		@include scale(0);
		@include transform-origin(95% 95%);
		@include transition(all 1s);
	}
	&:hover {
		.toolbar-btn {
			&:before {
				top: -$toolbar-size;
			}
			&:after {
				top: 0;
			}
		}
		&:after {
			@include opacity(1);
			@include scale(1);
		}
	}
}
.toolbar-item-weixin {
	&:after {
		height: 212px;
		background-position: 0 0;
	}
	.toolbar-btn {
		@extend .icon-wechat;
		&:after {
			content: "公众\A账号";
		}
	}
}
.toolbar-item-msg {
	.toolbar-btn {
		@extend .icon-newspaper;
		&:after {
			content: "意见\A反馈";
		}
	}
}
.toolbar-item-app {
	&:after {
		height: 194px;
		background-position: 0 -222px;
	}
	.toolbar-btn {
		@extend .icon-mobile;
		&:after {
			content: "APP\A下载";
		}
	}
	
}
.toolbar-item-top {
	.toolbar-btn {
		@extend .icon-arrow-up2;
		&:after {
			content: "返回\A顶部";
		}
	}
}
.toolbar-btn {
	&, &:before, &:after {
		width: $toolbar-size;
		height: $toolbar-size;
		position: absolute;
		left: 0;
	}
	display: block;
	top: 0;
	overflow: hidden;
	white-space: pre;
	@extend [class^="icon-"];
	&:before, &:after {
		content: "";
		color: #fff;
		text-align: center;
		@include transition(all 1s);
	}
	&:before {
		top: 0;
		background-color: #d0d6d9;
		font-size: 30px;
		line-height: $toolbar-size;
	}
	&:after {
		top: $toolbar-size;
		background-color: #98a1a6;
		font-size: 12px;
		line-height: 1.2;
		padding-top: 12px;
	}
}